﻿@using portfolio.Models
@using portfolio.Models.DataModels

@model IEnumerable<User>

@{
    ViewBag.Title = "Index";

    PortfolioDB db = new PortfolioDB();
}

<h2 class="title is-2">List of users</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Email
            </th>
            <th>
                Fullname
            </th>
            <th>
                Role
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (User user in Model) {
            <tr>
                <td>
                    @HttpUtility.HtmlEncode(user.Username)
                </td>
                <td>
                    @HttpUtility.HtmlEncode(user.Email)
                </td>
                <td>
                    @HttpUtility.HtmlEncode(user.Fullname)
                </td>
                <td>
                    @using (Html.BeginForm()) {
                        @Html.AntiForgeryToken()

                        <input type="hidden" name="IdUser" value="@user.IdUser" />

                        <div class="field has-addons">
                            <div class="control"></div>

                            <div class="control">
                                <a href="/Users/SaveRole/" class="button is-light">Save</a>
                            </div>
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <td>
                @Model.Count() users
            </td>
        </tr>
    </tfoot>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdUser }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdUser }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdUser })
        </td>
    </tr>
}

</table>
