﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>@ViewBag.Title - Portfolio</title>

        <link rel="stylesheet" href="~/Content/Site.css" />

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    </head>

    <body>
        @Html.Partial("Navbar")

        <main class="section">
            <div class="container">
                @RenderBody()
            </div>
        </main>

        <footer class="footer">
            <div class="container has-text-centered">
                &copy; Paul-Louis Mas @DateTime.Now.Year.ToString()
            </div>
        </footer>

        @RenderSection("scripts", required: false)
    </body>
</html>