﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Page not found - Portfolio</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <i class="fas fa-images"></i>
            </a>

            <a class="navbar-burger burger"
               role="button"
               aria-label="menu"
               aria-expanded="false"
               data-target="navbar_menu"
               href="javascript:void();">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <a href="/portfolio/" class="navbar-item">Portfolio</a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <span class="navbar-link">Tags</span>

                    <div class="navbar-dropdown">
                        <a href="/tags/" class="navbar-item">List tags</a>

                        <hr class="navbar-divider">

                        <a href="/tags/create/" class="navbar-item">Create tag</a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <a href="/settings/" class="navbar-item">Settings</a>
            </div>
        </div>
    </nav>

    <main class="section">
        <div class="container">
            <h1 class="title is-1">
                Page not found
            </h1>

            <h3 class="subtitle is-3">
                Page <code>@Request.Url.AbsoluteUri</code> not found
            </h3>
        </div>
    </main>

    <footer class="footer">
        <div class="container has-text-centered">
            &copy; Paul-Louis Mas @DateTime.Now.Year.ToString()
        </div>
    </footer>
</body>
</html>