﻿<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <i class="fas fa-images"></i>
        </a>

        <a class="navbar-burger burger"
           role="button"
           aria-label="menu"
           aria-expanded="false"
           data-target="navbar_menu"
           href="javascript:void();">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" id="navbar_menu">
        <div class="navbar-start">
            <a href="/portfolio/" class="navbar-item">Portfolio</a>

            <div class="navbar-item has-dropdown is-hoverable">
                <span class="navbar-link">Tags</span>

                <div class="navbar-dropdown">
                    <a href="/tags/" class="navbar-item">List tags</a>

                    <hr class="navbar-divider">

                    <a href="/tags/create/" class="navbar-item">Create tag</a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <a href="/settings/" class="navbar-item">Settings</a>
        </div>
    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        if ($navbarBurgers.length > 0) {
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');
                });
            });
        }
    });
</script>