﻿@{
    ViewBag.Title = "Create tag";
}

<h2 class="title is-2">Create a new tag</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="field">
        <label class="label" for="Name">
            Tag name
        </label>

        <div class="control">
            <input type="text" name="Name" id="Name" value="" placeholder="Tag name" class="input" required />
        </div>
    </div>

    <div class="field">
        <div class="control">
            <input type="submit" value="Create" class="button is-dark" />
        </div>
    </div>

    <div class="field">
        <div class="control">
            <a href="/Tags/" class="button is-light">Cancel</a>
        </div>
    </div>
}