﻿@model portfolio.Models.DataModels.Tag

@{
    ViewBag.Title = "Delete tag";
}

<h2 class="title is-2">Delete a tag</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="control">
        <label class="label" for="Name">
            Tag name
        </label>

        <div class="control">
            <input type="text" name="Name" id="Name" value="@Model.Name" placeholder="Tag name" class="input" required readonly />
        </div>

        <div class="control">
            <div class="field">
                <input type="submit" value="Delete" class="button is-danger" />
            </div>
        </div>

        <div class="control">
            <div class="field">
                <a href="/Tags/" class="button is-light">Cancel</a>
            </div>
        </div>
    </div>
}