﻿@using portfolio.Models.DataModels

@model IEnumerable<Tag>

@{
    ViewBag.Title = "Tags index";
}

<h2 class="title is-2">List of tags</h2>

<p>
    <a href="/Tags/Create/" class="button is-dark">Create tag</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Tag name
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (Tag tag in Model) {
            <tr>
                <td>
                    @HttpUtility.HtmlEncode(tag.Name)
                </td>
                <td>
                    <div class="buttons has-addons">
                        <a href="/Tags/Details/?Id=@tag.Id" class="button is-light is-small">Details</a>
                        <a href="/Tags/Edit/?Id=@tag.Id" class="button is-light is-small">Edit</a>
                        <a href="/Tags/Delete/?Id=@tag.Id" class="button is-light is-small">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <td>
                @Model.Count() tags
            </td>
        </tr>
    </tfoot>
</table>